<h1>Payment Calculation</h1>

<form action="/payment/results?the_input_number=">
<label for="the_num">APR</label>
<input id="the_num" type="text" name="the_input_number"></input>
<button>Calculate monthly payment</button>
</form>