<h1>Payment Calculation</h1>

<form action="/payment/results?the_input_number=">
<label for="the_num">APR</label>
<input id="the_num" type="text" name="apr"></input>
<label for="years">Number of years</label>
<input id="years" type="text" name="years"></input>
<label for="princpal">Principal</label>
<input id="princpal" type="text" name="princpal"></input>
<button>Calculate monthly payment</button>
</form>