<h1>Square Root Calculation</h1>

<form action="/square_root/results">
<label for="the_num">Enter a number</label>
<input id="the_num" type="text" name="user_number"></input>
<button>Calculate square root</button>
</form>
